@font-face {
    font-family: Flame;
    src: url(font/Flame-Regular.woff);
  
}
body{
    font-family: Flame;
    src: url(font/Flame-Regular.woff);
    font-size: 9px;
    margin: 0;
    
    
}
/* header Menu Style Start......*/
nav{
    margin-top: 0px;
  padding-top: 3px;
  padding-bottom: 10px;
    height: 30px;
    width: 100%;
    position: fixed;
    background-color: rgba(245,235,220,255);
}

nav li a{
    text-decoration: none; 
margin-left: 0;
color: rgba(80,35,20,255);
}

nav li{
    margin-right: 9px;
    list-style: none;
}
nav >ul{
    display: flex;
    padding-left: 33px;
}
nav>ul>li:hover>ul{
    display: block;
}
nav li:hover a{
   color: rgb(185, 15, 24);
}
.dropdown{
    display:none;
    position: absolute;
    padding: 3px 7px;
    margin: 0 7px;
    background-color: rgb(226, 199, 199);
}
.nav-logo{
    height: 40px;
    width: 90px;
   padding-left: 10%;
   padding-right: 6%;
   margin-top: 0px;
}
.our-menu{
    margin-top: 0px;
    padding-top: 60px;
    padding-bottom: 20px;
    height: 58px;
    width: 100%;
    text-align: center;
    color: rgb(241,234,222);
    background-color:rgba(80,35,20,255);
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 0;
}
/* header Menu Style end......*/
/*  Menu list Style start......*/
.section-bg{
    background-color: rgba(245,235,220,255);
    background-repeat: no-repeat;
    padding-bottom: 5px;
    height: 285px;
    width: 100%;
    
  
}
.background-set{
    background-size: contain;
  
    background-position: left;
  
    background-image: url(images/back2.png);
}
.burger-img{
    display: flex;
    padding-left: 20%;

}

.burger img{
    height: 110px;
    width:110px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
   
}
#figure-name{
    font-size: 12px;
    text-align: center;
    color: rgba(80,35,20,255);
}
.background-set-2{
    background-size: contain;
  
    background-position: right;
  
    background-image: url(images/HERO_0002_Chicken_Nuggets.png);

}
.chipsy-chicken{
    padding-left: 41%;
    display: flex;
}
/*  Button Style start ......*/
.order-now{
    padding-top: 15px;
    height: 55px;
    width: 100%;
 text-align: center;
 padding-left: 5px;
 background-color: rgb(241,234,222);
 padding-bottom: 80px;
 margin-bottom: 30px;
 
}
.order-btn{
   padding: 10px 30px;
   border-style: none;
   border-radius: 5px;
   box-shadow: 3px 5px gray;
   outline-style: outset;
  background-color: rgba(80,35,20,255);
   color: rgb(241,234,222);
   font-family: Flame;
   font-size: 18px;
   font-weight: 500;
} /*  Button Style end ......*/
/*  Menu list Style end......*/
/*  footer style start ......*/
footer{
    padding: 5px 0px;
    height: 200px;
    width: 100%;
    text-align: center;
   background-color:rgba(80,35,20,255);
   margin-top: 55px;
   color:rgb(241,234,222);
   font-weight: 500px;
   font-family:monospace;
    
}
.footer-menu{
    display: flex;
    padding-left: 15%;
}
.footer-section{
    padding-right: 75px;
}
.footer-section ul a{
    color: rgb(241,234,222);
    list-style: none;
    text-decoration: none;
   
}
.footer-section ul {
    text-align: left;
    list-style: none;
    text-decoration: none;
    padding-left: 1px;
}/*  footer end ......*/